<div class="container">
  <div class="col">
    
   <h3>
    <div style="padding: 100px">
    <p class="text-center">ようこそ、<br>
      ここではみんなで筋トレできるように励まし合うコミュニティです。<br>
      皆さんが筋トレのやる気が起きない時にだれかとつながることで<br>
      継続できる力となるよう手助けになれたらいいと思っています。<br>
      また、コメントしてもらうのは自由なのですが、<br>
      ネガティブな発言は遠慮願います。
    </p>
    </div>
   </h3>
   
  </div>
</div>