<div class="container">
  <div class="row">
   <p>いいねした投稿一覧</p>
   <% @favorites_post_images.each do |post_image| %>
   <div>
     title: <%= post_image.title %><br>
     introduction: <%= post_image.introduction %>
   </div>
   <% end %> 
   <%= render partial: "public/post_images/test", collection: @favorite_post_images %>
 </div>
</div>